.displayContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    max-width: 97%;
    width: 97%;
    height: 20%;
    background-color: black;
    padding-right: 10px;
    border: 1px solid grey;
}
.displayContainer h1 {
    color: white;
}